#                                            DIRECTIONAL DRILLING 
##                                           *DIRECTIONAL WELLS PROFILES*

***

<img src="resources/Well_prof.jpg" width=800 height=800 />

# Python Libraries

In [1]:
from collections import namedtuple
from math import radians, acos, asin, cos, sin, atan, degrees, sqrt

# *Directional Wells Profiles*

## *Slant Well Profile (J Type)*

<img src="resources/j_prof.png" width=500 height=500 align='center' />

In [15]:
Data = namedtuple("Input", "TVD KOP BUR DH")
Output = namedtuple("Output", "R Theta TVD_EOB Md_EOB Dh_EOB Tan_len Md_total")

def well_J(data:Data, unit='ingles') -> Output:
    # Call input values
    tvd = data.TVD
    kop = data.KOP
    bur = data.BUR
    dh = data.DH
    if unit == 'ingles':
        R = 5729.58 / bur
    else:
        R = 1718.87 / bur
    if dh > R:
        dc = dh - R
    elif dh < R:
        dc = R - dh
    do = tvd - kop
    doc = degrees(atan(dc / do))
    oc = sqrt(dc**2 + do**2)
    boc = degrees(acos(R / oc))
    if R < dh:
        bod = boc - doc
    elif R > dh:
        bod = boc + doc
    theta = 90 - bod
    tvd_eob = kop + abs(R * sin(radians(theta)))
    if unit == 'ingles':
        md_eob = kop + (theta / bur) * 100
    else:
        md_eob = kop + (theta / bur) * 30
    dh_eob = R - R * cos(radians(theta))
    tan_len = sqrt(oc**2 - R**2)
    if unit == 'ingles':
        md_total = kop + (theta / bur) * 100 + tan_len
    else:
        md_total = kop + (theta / bur) * 30 + tan_len
    return Output(R=R, Theta=theta, TVD_EOB=tvd_eob, Md_EOB=md_eob, Dh_EOB=dh_eob, \
                  Tan_len=tan_len, Md_total=md_total)

    names = ['R', 'theta', 'tvd_EOB', 'MD_EOB', 'DH_EOB', 'Length_tan', 'MD_Total']
    for param , value in zip(names, trajectory_J):
        if param == 'theta':
            print(f"{param} -> {value:.3f} degrees")
        else:
            print(f"{param} -> {value:.3f} ft")

## *Ejercicio 1*

In [16]:
# data
tvd = 8000 #ft
kop = 500 #ft
bur = 2 #o/100ft
dh = 970.8 #ft

In [17]:
trajectory_J = well_J(Data(tvd, kop, bur, dh))

In [18]:
trajectory_J

Output(R=2864.79, Theta=7.564230623470863, TVD_EOB=877.1139517978513, Md_EOB=878.2115311735431, Dh_EOB=24.929649303260703, Tan_len=7185.414140882904, Md_total=8063.625672056447)

In [21]:
names = ['R', 'theta', 'tvd_EOB', 'MD_EOB', 'DH_EOB', 'Length_tan', 'MD_Total']
for param , value in zip(names, trajectory_J):
    if param == 'theta':
        print(f"{param} -> {value:.3f} degrees")
    else:
        print(f"{param} -> {value:.3f} ft")

R -> 2864.790 ft
theta -> 7.564 degrees
tvd_EOB -> 877.114 ft
MD_EOB -> 878.212 ft
DH_EOB -> 24.930 ft
Length_tan -> 7185.414 ft
MD_Total -> 8063.626 ft

## *S-Type Well Profile*

<img src="resources/s_prof.png" width=500 height=400 />

In [22]:
# Function to calculate parameters from a S-Type well
Data_S = namedtuple("Input", "TVD KOP BUR DOR DH")
Output_S = namedtuple("Output", "R1 R2 Theta TVD_EOB Md_EOB Dh_EOB Tan_len Md_SOD TVD_SOD Dh_SOD Md_total")

def well_S(data:Data_S, unit='ingles'):
    tvd = data.TVD
    kop = data.KOP
    bur = data.BUR
    dor = data.DOR
    dh = data.DH
    if unit == 'ingles':
        R1 = 5729.58 / bur
        R2 = 5729.58 / dor
    else:
        R1 = 1718.87 / bur
        R2 = 1718.87 / dor
    if dh > (R1 + R2):
        fe = dh - (R1 + R2)
    elif dh < (R1 + R2):
        fe = R1 - (dh - R2)
    eo = tvd - kop
    foe = degrees(atan(fe / eo))
    of = sqrt(fe**2 + eo**2)
    fg = R1 + R2
    fog = degrees(asin(fg / of))
    theta = fog - foe
    tvd_eob = kop + R1 * sin(radians(theta))
    if unit == 'ingles':
        md_eob = kop + (theta / bur) * 100
    else:
        md_eob = kop + (theta / bur) * 30
    dh_eob = R1 - abs(R1 * cos(radians(theta)))
    tan_len = sqrt(of**2 - fg**2)
    if unit == 'ingles':
        md_sod = kop + (theta / bur) * 100 + tan_len
    else:
         md_sod = kop + (theta / bur) * 30 + tan_len
    tvd_sod = tvd_eob + tan_len * abs(cos(radians(theta)))
    dh_sod = dh_eob + abs(tan_len * sin(radians(theta)))
    if unit == 'ingles':
        md_total = kop + (theta / bur) * 100 + tan_len + (theta / dor) * 100
    else:
        md_total = kop + (theta / bur) * 30 + tan_len + (theta / dor) * 30

    output_S = Output_S(R1=R1, R2=R2, Theta=theta, TVD_EOB=tvd_eob, Md_EOB=md_eob, Dh_EOB=dh_eob, \
                    Tan_len=tan_len, Md_SOD=md_sod, TVD_SOD=tvd_sod, Dh_SOD=dh_sod, Md_total=md_total)

    names = ['R1', 'R2', 'theta', 'tvd_EOB', 'Md_EOB', 'Dh_EOB', 'Lengh_tan', 'Md_SOD', 'tvd_SOD', 'Dh_SOD', 'Md_Total']
    for param , value in zip(names, output_S):
        if param == 'theta':
            print(f"{param} -> {value} degrees")
        else:
            print(f"{param} -> {value} ft")

# *Ejercicio 2*

In [23]:
# Data
kop = 6084 #ft
tvd = 12000 #ft
bur = 3 #o/100ft
dor = 2 #o/ft
dh = 3500 #ft

In [24]:
well_S(Data_S(tvd, kop, bur, dor, dh))

R1 -> 1909.86 ft
R2 -> 2864.79 ft
theta -> 39.93029740693158 degrees
tvd_EOB -> 7309.853592805263 ft
Md_EOB -> 7415.009913564386 ft
Dh_EOB -> 445.32997688458863 ft
Lengh_tan -> 3718.401000430159 ft
Md_SOD -> 11133.410913994545 ft
tvd_SOD -> 10161.219610792105 ft
Dh_SOD -> 2832.0050346731164 ft
Md_Total -> 13129.925784341123 ft

## *Horizontal Well Profiles*

<img src="resources/Horizontal_prof.jpg" width=500 height=400 />

In [ ]:
# Function to calculate parameters of a Horizontal Well
Data_H = namedtuple("Input", "TVD KOP BUR1 BUR2 DH")
Output_H = namedtuple("Output", "R1 R2 Theta TVD_EOB1 Md_EOB1 Dh_EOB1 Tan_len Md_SOB2 Md_total")
def well_H(data:Data_H, unit='ingles'):
    tvd = data.TVD
    kop = data.KOP
    bur1 = data.BUR1
    bur2 = data.BUR2
    dh = data.DH
    if unit == 'ingles':
        R1 = 5729.58 / bur1
        R2 = 5729.58 / bur2
    else:
        R1 = 1718.87 / bur1
        R2 = 1718.87 / bur2
    eg = (tvd - kop) - R2
    eo = dh - R1
    goe = degrees(atan(eg / eo))
    og = sqrt(eg**2 + eo**2)
    of = R1 - R2
    gof = degrees(acos(of / og))
    theta = 180 - goe - gof
    tvd_eob1 = kop + R1 * sin(radians(theta))
    if unit == 'ingles':
        md_eob1 = kop + (theta / bur1) * 100
    else:
        md_eob1 = kop + (theta / bur1) * 30
    dh_eob1 = R1 - abs(R1 * cos(radians(theta)))
    tan_len = sqrt(og**2 - of**2)
    if unit == 'ingles':
        md_sob2 = kop + (theta / bur1) * 100 + tan_len
    else:
         md_sob2 = kop + (theta / bur1) * 30 + tan_len
    cgd = gof + goe - 90
    if unit == 'ingles':
        md_total = kop + (theta / bur1) * 100 + tan_len + (cgd / bur2) * 100
    else:
        md_total = kop + (theta / bur1) * 30 + tan_len + (cgd / bur2) * 30

    output_H = Output_H(R1=R1, R2=R2, Theta=theta, TVD_EOB1=tvd_eob1, Md_EOB1=md_eob1, Dh_EOB1=dh_eob1, \
                    Tan_len=tan_len, Md_SOB2=md_sob2, Md_total=md_total)

    names = ['R1', 'R2', 'theta', 'tvd_EOB1', 'Md_EOB1', 'Dh_EOB1', 'Tan_Len', 'Md_SOB2', 'Md_Total']
    for param , value in zip(names, output_H):
        if param == 'theta':
            print(f"{param} -> {value} degrees")
        else:
            print(f"{param} -> {value} ft")

# *Ejercicio 3*

In [ ]:
# Data
tvd = 3800 #ft
kop = 2000 #ft
bur1 = 5.73 #o/100ft
bur2 = 9.55 #o/100ft
dh = 1800 #ft

well_H(Data_H(tvd, kop, bur1, bur2, dh))